---
# Front matter
---

//Imports
@import "mixins";
@import "variables";
@import "bootswatch";
@import "notes";

.highlight {
  .pre {
    position: relative;
  }

  .caption {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 3px;

  }
}

.listing-header {
  text-align: right;
  font-size: 80%;
  font-style: italic;
  font-family: monospace;
  margin-top: 25px;
  margin-bottom: -20px;
  padding-right: 10px;
}