extends layout
block content
   section#chatroom
      input#nick(type='text')
      input#btnnick(type='button', value='Set nick')
      #messages
      input#message(type='text', placeholder='Type your message here')
      input#send(type='button', value='Send')
